/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    /*background-color: #E9E9E9;*/
}

.jumbotron {
    background-image: url('../img/bg_edificio.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 90% 35%; 
}

.navbar-default {
    background-color: #f4f4f4;
}

.text-muted {
    margin: 20px 0;
}

footer {
    position: absolute;
    /*bottom: 0;*/
    /*height: 40px;*/
    margin: 0;
    background-color: #f4f4f4;
    border-color: #e7e7e7;
    width: 100%;
}