/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #E9E9E9;
    margin-bottom: 40px;
    padding-top: 70px;
}

.navbar {
    min-height: 70px;
}

.logofield {
    background-color: #fff;
}

.jumbotron {
    background-image: url('../img/libros_1920.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 1%; 
    color: #fff;
    margin-bottom: 0;
    padding: 10px 0;
}

.jumbotron p {
    margin-bottom: 0;
}

.bienvenida {
    padding: 50px 0;
}

.navbar-default {
    background-color: #f4f4f4;
}

.text-muted {
    margin: 20px 0;
}

.destacado {
    font-size: large;
    font-weight: 600;
    text-align: justify;
    line-height: inherit;
}

.hero-feature {
    margin-bottom: 0;
}

.hero-feature h3 {
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    
    margin: 0;
    font-size: 18px;
}

.thumbnail .caption {
    padding: 5px;
}

footer {
    position: absolute;
    bottom: 0;
    /*height: 40px;*/
    margin: 0;
    background-color: #f4f4f4;
    /*border-color: #e7e7e7;*/
    width: 100%;
}

h1 {
    font-weight: 600;
}

h3 {
    color: #222a4e;
    font-weight: 600;
}

.logo {
    margin: 20px 0;
}

dl {
    font-size: large;
}

dt {
    color: #222a4e;
}

dd {
    margin-bottom: 10px;
}

/* custom cols */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/* width */
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}